#basic-header {
  display: flex;
  align-items: center;
  height: 80px;
  > .logo {
    display: flex;
    align-items: flex-end;
    gap: var(--gap-spacing-small);
    > img {
     height: 38px;
    }
    > h1 {
      color: var(--color-primary01);
      font-size: var(--font-size-title-small);
      font-weight: 400;
    }
  }
}