:root {
  /* color */
  --color-primary01: 30, 215, 96;

  --color-warning01: 252, 86, 86;

  --color-blue01: 0, 149, 246;
  --color-blue02: 24, 119, 242;

  --color-achromatic01: 255, 255, 255; /* #ffffff */
  --color-achromatic02: 238, 238, 238; /* #eeeeee */
  --color-achromatic03: 221, 221, 221; /* #dddddd */
  --color-achromatic04: 204, 204, 204; /* #cccccc */
  --color-achromatic05: 187, 187, 187; /* #bbbbbb */
  --color-achromatic06: 170, 170, 170; /* #aaaaaa */
  --color-achromatic07: 153, 153, 153; /* #999999 */
  --color-achromatic08: 136, 136, 136; /* #888888 */
  --color-achromatic09: 119, 119, 119; /* #777777 */
  --color-achromatic10: 102, 102, 102; /* #666666 */
  --color-achromatic11: 85, 85, 85;    /* #555555 */
  --color-achromatic12: 68, 68, 68;    /* #444444 */
  --color-achromatic13: 51, 51, 51;    /* #333333 */
  --color-achromatic14: 34, 34, 34;    /* #222222 */
  --color-achromatic15: 17, 17, 17;    /* #111111 */
  /* --color-white03: rgba(2) */

  /* gap */
  --gap-spacing-verysmall: 5px;
  --gap-spacing-small: 10px;
  --gap-spacing-medium: 20px;
  --gap-spacing-large: 30px;
  --gap-spacing-huge: 40px;

  /* font-weight */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* font-size-title */
  --font-size-title-verysmall: 1.25em;
  --font-size-title-small: 1.50em;
  --font-size-title-medium: 1.875em;
  --font-size-title-large: 2.25em;
  --font-size-title-huge: 2.625em;

  /* font-size-content */
  --font-size-content-verysmall: 0.75em;
  --font-size-content-small: 0.88em;
  --font-size-content-medium: 1em;
  --font-size-content-large: 1.13em;
  --font-size-content-huge: 1.50em;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Cookie';
  font-weight: 400;
}
#app {
  width: 100%;
  height: 100vh;
  display: flex;
}

@font-face {
  font-family: 'Cookie';
  font-weight: 400;
  src: url("../font/CookieRun\ Regular.ttf");
}
@font-face {
  font-family: 'Cookie';
  font-weight: 700;
  src: url("../font/CookieRun\ Bold.ttf");
}
@font-face {
  font-family: 'Cookie';
  font-weight: 900;
  src: url("../font/CookieRun\ Black.ttf");
}

@font-face {
  font-family: 'Captcha';
  font-weight: 400;
  src: url("../font/Captcha.ttf");
}